* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    display: flex;
    font-family: arial,helvetica,sans-serif;
    font-size: 0.9rem;
}

#root {
    flex: 1;
    display: flex;
}

.app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 6rem;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    margin-left: 5rem;
    width:5rem;
    height:5rem;
    border-radius: 4rem;
}

.navbar-title {
    margin-left: 1rem;
    font-size: 2rem;
}

.greentext-form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greentext-form-image {
    margin-bottom: 1rem;
}

.greentext-form-text {
    width: 90%;
    height: 14rem;
}

@media screen and (min-width: 900px) {
    .greentext-form-text {
        width: 33%;
    }
}

.greentext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greentext-container {
    margin-top: 1rem;
    background-color: #F0E0D6;
    min-height: 15rem;
    width: 90%;
}

@media screen and (min-width: 900px) {
    .greentext-container {
        width: 33%;
    }
}

.greentext-header {
    display: flex;
    align-content: center;
}

.greentext-header-author {
    margin-left: 2rem;
    color:#117743;
    font-weight: 700;
}

.greentext-header-date, .greentext-header-post-id {
    margin-left: 2rem;
    color:maroon;
}

.greentext-body-img {
    float: left;
    margin-left: 2rem;
    margin-right: .75rem;
    width: 5rem;
    height:5rem;
}
.greentext-body-text {
    color: #789922;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
}

.greentext-download {
    margin-top: 1rem;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: lightskyblue;
    border-radius: 1rem;
}

.greentext-form-image {
    display: none;
}

.greentext-form-image-container {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: lightskyblue;
    border-radius: 1rem;
}

.greentext-mobile-saveimagebelow {
    display: none;
}